
.bannerSlider {
    .swiper-pagination{
        width: auto !important;
        left: 40px !important;
        bottom: 30px !important;
    }
    .swiper-pagination-bullet{
        background-color: #fff;
    }
}